doctype html
html
  head
    title Demo App
  body
    h1 Hi, #{name}!

    p Not #{name}? Let us know how we should address you:

    form action="/rename" method="post"
      label for="name" Name:
      input id="name" name="name"
      button type="submit" Submit!
